<section class="container section">
  <div class="card">
    <div class="card-content"> 
      <div class="row">
        <div class="col s12 m10 offset-m1 ">             
            <%= form_tag flash_path do %>
            <!-- Collection of Hotels returns 2 params= :CustomerName & :CustomerID -->
            <div class="row">
              <div class="col s12">
                <%= select_tag(:CustomerID,options_for_select(@hotels.map{|h| [ h[1], h[0] ]}), {prompt: "Select a property", class: "select-two select-two-style"}) %>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m6">
                <div class="row">
                  <div class="col s12">
                    <h6>Select Arrival Date</h6>
                  </div>
                </div>
                <div class="row" id='select_days'>
                
                <% @arr_days.each do |day| %>
                  <% if day == 'EveryDay' %>
                    <div class="col s12">
                      <%= check_box_tag "selected_days[]", day, params[:selected_days] && params[:selected_days].include?(day), :id => day, onclick: 'selectAll("#EveryDay", "#select_days")' %>
                      <%= label_tag day.html_safe, day.html_safe, class: 'black-text'  %>
                    </div>
                  <%else %>
                    <div class="col s12">
                      <%= check_box_tag "selected_days[]", day, params[:selected_days] && params[:selected_days].include?(day), :id => day %>
                      <%= label_tag day.html_safe, day.html_safe, class: 'black-text' %>
                    </div>
                  <% end %>

                <% end %>
                </div>
                
              </div>
              <div class="col s12 m6">
                <div class="row">
                  <div class="col s12">
                    <h6>Select Length of Stay</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12">
                    <%= select(:los, :los1, Array.new(50){|x| x + 1},  {selected: 1}, {class: "select-two select-two-style"}) %>
                  </div>
                  <div class="col s12">
                    <%= select(:los, :los2, Array.new(50){|x| x + 1}, {prompt: "Additional length of stay (optional)"}, {class: "select-two select-two-style"}) %>
                  </div>
                  <div class="col s12">
                    <%= select(:los, :los3, Array.new(50){|x| x + 1}, {prompt: "Additional length of stay (optional)"}, {class: "select-two select-two-style"}) %>
                  </div>
                </div>
              </div>
            </div>             

            <div class ="row">
              <div class="col s12 m6">
                <i class="material-icons datepicker prefix">today</i>                                        
                <%= label_tag "Start Date" %>                                                
                <%= date_field("flash", "startDate", value: Time.now.strftime('%m/%d/%Y') ) %>                  
              </div>

              <div class="col s12 m6">
                <i class="material-icons datepicker prefix">today</i>        
                <%= label_tag "End Date" %>                
                <%= date_field("flash", "endDate", value: (Time.now + (1*7*24*60*60)).strftime('%m/%d/%Y') ) %>  
              </div>
            </div>    

        </div>
      </div>
      <div class="row">
        <div class="col s2 offset-s5">
          <div class=" actions waves-effect waves-light center-align btn">
            <%= submit_tag "Continue"%>
          </div>
        </div>            
        <% end %>
      </div>
    </div>
  </div>
</section>
<div class='hide-on-small-only purps col m1 indigo 12'>
</div >
