<section class="container section">
  <div class="card">
    <div class="card-content"> 
    <%= params.inspect %>


    <%= form_tag flashRefineSearch_path do %>
      <div class="row">
          <div class="col s12 m6 with-header" id='select_comp_hotels'>                  
            <h6 >Core Competitor Hotels</h6>  
            <% @show_hotels.each do |hotel| %>                                                        
              <%= check_box_tag 'selected_hotels[]', hotel[0], params[:selected_hotels] && params[:selected_hotels].include?(hotel[0]), :id => hotel[0].tr(' ','_') %> 
              <%= label_tag hotel[0], hotel[0], class: 'black-text' %>                    
              <br />
            <% end %>
            <%= check_box_tag "all competitors","All Competitors", false, onclick: 'selectAll("#all_competitors", "#select_comp_hotels")' %>
            <%= label_tag "all competitors", "All Competitors", class: 'black-text'  %>                                  
          </div>

          <div class="col s12 m6  with-header " id='select_add_comp_hotels'>
            <h6>Additional market Competitors</h6>
            <% @show_compsets.each do |comp| %>                                                                      
                <%= check_box_tag 'selected_compsets[]', comp[0], params[:selected_compsets] && params[:selected_compsets].include?(comp[0]), :id => comp[0].tr(' ','_') %>                    
                <%= label_tag comp[0], comp[0], class: 'black-text' %>          
                <% end %> 
                <%= check_box_tag "all aditional competitors", "All Aditional Competitors", false, onclick: 'selectAll("#all_aditional_competitors", "#select_add_comp_hotels")' %>
                <%= label_tag "All Aditional Competitors", "All Aditional Competitors", class: 'black-text'  %>                                 
          </div>
          
      </div>
      
      <div class="row">                                   
          <div class="col s12 m6 with-header" id='select_sites'>     
          <h6>Sites</h6>
            <% @show_sites.each do |site| %>   
            <%= check_box_tag "selected_sites[]", site.tr('_',' '), params[:selected_sites] && params[:selected_sites].include?(site), :id => site %>
            <%= label_tag site, site.tr('_',' '), class: "black-text"%> <br />
            <% end %>
             <%= check_box_tag "all sites", "All Sites", false, onclick: 'selectAll("#all_sites", "#select_sites")' %>
                <%= label_tag "all sites", "All Sites", class: 'black-text'  %>
          </div>

          <div class="col s12 m6 with-header">     
          <h6>Data Collection Method</h6>
             <p>
                <input class="with-gap" name="group1" type="radio" id="fresh" />
                <label for="fresh" class="black-text">Run data fresh</label>
             </p>
             <p>
                <input class="with-gap" name="group1" type="radio" id="smartrates" />
                <label for="smartrates" class="black-text">Extract includes data from daily SmartRates report (faster)</label>
              </p>            
          </div>      
      </div>

      <div class="row">
        <div class="col s2 offset-s5">
          <div class=" actions waves-effect waves-light center-align btn">
            <%= submit_tag "Search"%>
          </div>
        </div>                
      </div>
    
    <% end %>        

    </div>
  </div>
</section>