
<section class="container">
  <div class="section">
    <div class="card">
      <div class="card-content"> 
        <div class="row">
          <div class="col s12 m10 offset-m1 ">
            <%= form_tag flashRefineSearchSchedule_path do %>              

                  <p>
                    <input class="with-gap" name="schedule1" type="radio" id="Now" value='Now' />
                    <label for="Now" class="black-text">Run Now</label>
                  </p>
                  <p>
                    <input class="with-gap" name="schedule1" type="radio" id="Future" value='Future' />
                    <label for="Future" class="black-text">Schedule Your Report</label>
                  </p>


              <div class="row">
                <div class="col s12 scheduleDiv" id="scheduleDisplay">                 
                <h6>Schedule your flash search</h6>

                <%= label_tag "flash_run_date" %>
                <%=  date_field_tag 'flash_run_date', nil, class: 'datepicker' %>
              
                <%= select_tag "time", options_for_select(@timeTable.collect {|p| [ p ] })  %>
                

                </div>               
              </div>
              <div class="row">
                <div class="col s12">                
                </div>
              </div>
              <div class="row">  
              </div>              
              <div class="row">
                <div class="col s2 offset-s5">
                  <div class=" actions waves-effect waves-light center-align btn">
                    <%= submit_tag "Schedule Search"%>
                  </div>
                </div>            
              </div>
            <% end %>   
          </div>
        </div>
      </div>
    </div>
  </div>
</section>