<%= form_for(@tfx_customer) do |f| %>
  <% if @tfx_customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tfx_customer.errors.count, "error") %> prohibited this tfx_customer from being saved:</h2>

      <ul>
      <% @tfx_customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :CustoemrID %><br>
    <%= f.text_field :CustoemrID %>
  </div>
  <div class="field">
    <%= f.label :LoginCode %><br>
    <%= f.text_field :LoginCode %>
  </div>
  <div class="field">
    <%= f.label :CustomerChainID %><br>
    <%= f.text_field :CustomerChainID %>
  </div>
  <div class="field">
    <%= f.label :CustomerName %><br>
    <%= f.text_field :CustomerName %>
  </div>
  <div class="field">
    <%= f.label :CustomerSiteID %><br>
    <%= f.text_field :CustomerSiteID %>
  </div>
  <div class="field">
    <%= f.label :Address1 %><br>
    <%= f.text_field :Address1 %>
  </div>
  <div class="field">
    <%= f.label :Address2 %><br>
    <%= f.text_field :Address2 %>
  </div>
  <div class="field">
    <%= f.label :City %><br>
    <%= f.text_field :City %>
  </div>
  <div class="field">
    <%= f.label :State %><br>
    <%= f.text_field :State %>
  </div>
  <div class="field">
    <%= f.label :Zip %><br>
    <%= f.text_field :Zip %>
  </div>
  <div class="field">
    <%= f.label :Phone %><br>
    <%= f.text_field :Phone %>
  </div>
  <div class="field">
    <%= f.label :HostHotelID %><br>
    <%= f.text_field :HostHotelID %>
  </div>
  <div class="field">
    <%= f.label :C_CustomerID %><br>
    <%= f.text_field :C_CustomerID %>
  </div>
  <div class="field">
    <%= f.label :CountryCode %><br>
    <%= f.text_field :CountryCode %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
