<p id="notice"><%= notice %></p>

<p>
  <strong>Custoemrid:</strong>
  <%= @tfx_customer.CustoemrID %>
</p>

<p>
  <strong>Logincode:</strong>
  <%= @tfx_customer.LoginCode %>
</p>

<p>
  <strong>Customerchainid:</strong>
  <%= @tfx_customer.CustomerChainID %>
</p>

<p>
  <strong>Customername:</strong>
  <%= @tfx_customer.CustomerName %>
</p>

<p>
  <strong>Customersiteid:</strong>
  <%= @tfx_customer.CustomerSiteID %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @tfx_customer.Address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @tfx_customer.Address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @tfx_customer.City %>
</p>

<p>
  <strong>State:</strong>
  <%= @tfx_customer.State %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @tfx_customer.Zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @tfx_customer.Phone %>
</p>

<p>
  <strong>Hosthotelid:</strong>
  <%= @tfx_customer.HostHotelID %>
</p>

<p>
  <strong>C customerid:</strong>
  <%= @tfx_customer.C_CustomerID %>
</p>

<p>
  <strong>Countrycode:</strong>
  <%= @tfx_customer.CountryCode %>
</p>

<%= link_to 'Edit', edit_tfx_customer_path(@tfx_customer) %> |
<%= link_to 'Back', tfx_customers_path %>
