<p id="notice"><%= notice %></p>

<h1>Listing Tfx Corporate Customers</h1>

<table>
  <thead>
    <tr>
      <th>C customerid</th>
      <th>C logincode</th>
      <th>C customerchainid</th>
      <th>C customername</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tfx_corporate_customers.each do |tfx_corporate_customer| %>
      <tr>
        <td><%= tfx_corporate_customer.C_CustomerID %></td>
        <td><%= tfx_corporate_customer.C_LoginCode %></td>
        <td><%= tfx_corporate_customer.C_CustomerChainID %></td>
        <td><%= tfx_corporate_customer.C_CustomerName %></td>
        <td><%= tfx_corporate_customer.Address1 %></td>
        <td><%= tfx_corporate_customer.Address2 %></td>
        <td><%= tfx_corporate_customer.City %></td>
        <td><%= tfx_corporate_customer.State %></td>
        <td><%= tfx_corporate_customer.Zip %></td>
        <td><%= tfx_corporate_customer.Phone %></td>
        <td><%= link_to 'Show', tfx_corporate_customer %></td>
        <td><%= link_to 'Edit', edit_tfx_corporate_customer_path(tfx_corporate_customer) %></td>
        <td><%= link_to 'Destroy', tfx_corporate_customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tfx corporate customer', new_tfx_corporate_customer_path %>
