<p id="notice"><%= notice %></p>

<p>
  <strong>C customerid:</strong>
  <%= @tfx_corporate_customer.C_CustomerID %>
</p>

<p>
  <strong>C logincode:</strong>
  <%= @tfx_corporate_customer.C_LoginCode %>
</p>

<p>
  <strong>C customerchainid:</strong>
  <%= @tfx_corporate_customer.C_CustomerChainID %>
</p>

<p>
  <strong>C customername:</strong>
  <%= @tfx_corporate_customer.C_CustomerName %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @tfx_corporate_customer.Address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @tfx_corporate_customer.Address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @tfx_corporate_customer.City %>
</p>

<p>
  <strong>State:</strong>
  <%= @tfx_corporate_customer.State %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @tfx_corporate_customer.Zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @tfx_corporate_customer.Phone %>
</p>

<%= link_to 'Edit', edit_tfx_corporate_customer_path(@tfx_corporate_customer) %> |
<%= link_to 'Back', tfx_corporate_customers_path %>
