<%= form_for(@tfx_contact) do |f| %>
  <% if @tfx_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tfx_contact.errors.count, "error") %> prohibited this tfx_contact from being saved:</h2>

      <ul>
      <% @tfx_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :FirstName %><br>
    <%= f.text_field :FirstName %>
  </div>
  <div class="field">
    <%= f.label :LastName %><br>
    <%= f.text_field :LastName %>
  </div>
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :Email %>
  </div>
  <div class="field">
    <%= f.label :UserID %><br>
    <%= f.text_field :UserID %>
  </div>
  <div class="field">
    <%= f.label :Password %><br>
    <%= f.text_field :Password %>
  </div>
  <div class="field">
    <%= f.label :Phone %><br>
    <%= f.text_field :Phone %>
  </div>
  <div class="field">
    <%= f.label :Expires %><br>
    <%= f.datetime_select :Expires %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
