<p id="notice"><%= notice %></p>

<p>
  <strong>Contactid:</strong>
  <%= @tfx_contact.ContactID %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @tfx_contact.FirstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @tfx_contact.LastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tfx_contact.EMail %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @tfx_contact.UserID %>
</p>

<p>
  <strong>Password:</strong>
  <%= @tfx_contact.Password %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @tfx_contact.Phone %>
</p>

<p>
  <strong>Ext:</strong>
  <%= @tfx_contact.Ext %>
</p>

<p>
  <strong>Expires:</strong>
  <%= @tfx_contact.Expires %>
</p>

<%= link_to 'Edit', edit_tfx_contact_path(@tfx_contact) %> |
<%= link_to 'Back', tfx_contacts_path %>
