<p id="notice"><%= notice %></p>

<p>
  <strong>Hotelid:</strong>
  <%= @tfx_hotel.HotelID %>
</p>

<p>
  <strong>Hotelchainid:</strong>
  <%= @tfx_hotel.HotelChainID %>
</p>

<p>
  <strong>Siteid:</strong>
  <%= @tfx_hotel.SiteID %>
</p>

<p>
  <strong>Shortname:</strong>
  <%= @tfx_hotel.ShortName %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tfx_hotel.Name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @tfx_hotel.Address %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @tfx_hotel.Address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @tfx_hotel.City %>
</p>

<p>
  <strong>State:</strong>
  <%= @tfx_hotel.State %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @tfx_hotel.Zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @tfx_hotel.Country %>
</p>

<p>
  <strong>Datecreated:</strong>
  <%= @tfx_hotel.DateCreated %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @tfx_hotel.Phone %>
</p>

<%= link_to 'Edit', edit_tfx_hotel_path(@tfx_hotel) %> |
<%= link_to 'Back', tfx_hotels_path %>
